{% extends 'base.html' %}

{% block title %} База фильмов {% endblock %}

{% block content %}
    <h1>Оценка чувства юмора</h1>
    <p>
        <img src="{{url_for('static', filename='funny.jpeg')}}" class="rounded float-right" width=600 length=700/>
        Я хочу изучить, есть ли зависимость между возрастом, полом, <br>
        знаком зодиака и чувством юмора<br>
        Сейчас Вам предстоит оценить, какая из перечисленных шуток смешнее.
    </p>
    <form action="/survey" method = 'GET'>
        <fieldset>
        Согласны ли Вы пройти опрос?<br>
        <input type="radio" name="ask" value="yes" checked> Да<br>
        <br>
        <p><input type="submit" value="Отправить"></p>
        </fieldset>
    </form>
{% endblock %}