{% extends 'base.html' %}

{% block title %} База фильмов {% endblock %}

{% block content %}
    <form action='/process' method="GET">
        <h2>Личная информация</h2>
        <div class='row'>
            <div class="col-md-2">Сколько вам лет?</div>
            <div class="col-md-2"><input type='number' name='age'></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">Выберите свой гендер</div>
            <select name="gender" class="col-md-1">
                <option value="male">м</option>
                <option value="female">ж</option>
                <option value="other">другой</option>
            </select>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">Знак зодиака</div>
            <select name="zodiac_sign" class="col-md-2">
                <option value="овен">Овен</option>
                <option value="телец">Телец</option>
                <option value="близнецы">Близнецы</option>
                <option value="рак">Рак</option>
                <option value="лев">Лев</option>
                <option value="дева">Дева</option>
                <option value="веса">Весы</option>
                <option value="скорпион">Скорпион</option>
                <option value="стрелец">Стрелец</option>
                <option value="козерог">Козерог</option>
                <option value="водоолей">Водолей</option>
                <option value="рыбы">Рыбы</option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-2">
                Какими языками Вы владеете?
                Запишите через пробел
            </div>
            <input type="text" name="languages" value="русский английский" class="col-md-4"><br>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">Являетесь ли Вы студентом?</div>
            <input type="checkbox" name="student" value="is_student">  Студент<br>
        </div>
        <br>
        <h2>Вопросы</h2>
        <p>Оцените, насколько возможно такое употребление</p>
    {% for question in questions %}
        <div class="row">
            <p class="col-md-6">{{question.question}}</p>
            <table class="col-md-10">
                <tr>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=1></td>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=2></td>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=3></td>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=4></td>
                    <td><input class="radio" type="radio" name="q{{ question.id }}" value=5></td>
                </tr>
                <tr>
                    <td>не смешно:|</td>
                    <td>скорее не смешно, чем смешно</td>
                    <td>ну такое...</td>
                    <td>скорее смешно, чем не смешно</td>
                    <td>ахахаха смешнооо</td>
                </tr>
            </table>
        </div>
    {% endfor %}
        <br>
        <div class="row">
            <input class="submit" type="submit" name="submit" value="Отправить">
        </div>
    </form>
</body>
</html>
    
{% endblock %}